.todo_header {
  text-align: right;
}

.todo_header .todo_header_item {
  display:     inline-block;
  margin-left: 5px;
}

.todo_footer {
  text-align: right;
}

.todo_footer .todo_footer_item {
  display:     inline-block;
  margin-left: 5px;
}

.card {
  border-bottom: 1px solid rgb(56, 68, 77);
  width:         100%;
  padding:       5px;
  cursor:        pointer;
}

.card .card_content {
  padding: 5px;
}

.card_footer {
  text-align: right;
}

.card_footer .card_footer_item {
  display:     inline-block;
  margin-left: 5px;
}

.card_footer .card_footer_item a:link,
.card_footer .card_footer_item i {
  color:     white;
  font-size: 0.9em;
  cursor:    pointer;
}

.body {
  white-space: pre-wrap;
}
