<h1>{{headTitle}}</h1>
<div id="top" class="todo_header">
  <div class="todo_header_item" data-cy="todo_header_item" (click)="goToRegister()">
    <div  routerLinkActive="current"
       style="text-decoration: none;">
      <label>Todo登録</label>
    </div>
  </div>
</div>
<div *ngFor="let todo of todos; index as i" class="card" data-cy="card">
  <div [attr.data-cy]="'content' + i"
       (click)="onSelect(todo)"
       class="card_content"
       [ngStyle]="{'background-color': categoryMap.has(todo.categoryId) ?
        colorMap?.get(categoryMap.get(todo.categoryId)!.color) : '' }">
    <div><label>Title:</label><span [attr.data-cy]="'title' + i">{{todo.title}}</span></div>
    <div class="body"><label>Body:</label><span [attr.data-cy]="'body' + i">{{todo.body}}</span></div>
    <div><label>Status:</label><span [attr.data-cy]="'status' + i">{{stateMap.get(todo.state)}}</span></div>
    <div><label>Category:</label><span [attr.data-cy]="'category' + i">{{categoryMap.has(todo.categoryId) ? categoryMap.get(todo.categoryId)?.name : 'None'}}</span></div>
  </div>
  <div class="card_footer">
    <div class="card_footer_item" (click)="onDelete(todo)">
      <label class="delete">削除</label>
    </div>
  </div>
</div>
<div class="todo_footer">
  <div class="todo_footer_item" (click)="goToCategory()">
    <div routerLinkActive="current"
       style="text-decoration: none;">
      <label>カテゴリー一覧へ</label>
    </div>
  </div>
</div>
<div id="todo_upd" *ngIf="selectedTodo">
  <app-todo-upd [todo]="selectedTodo"
                (upd)="onUpdate($event)"></app-todo-upd>
</div>
